// FIXME: общий файл стилей - разбить по логическим частям
* {
  a {
    text-decoration: none;
    color: #fff;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfaf3;

  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;
  
  &::-webkit-scrollbar {
    display: none;
  }
}



.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
}

.content {
  min-height: calc(100vh - 275px);
}

.header {
  margin-bottom: 23px;
  display: flex;

  &_language-icon{
    padding-top: 26px;

    img{
      width: 31px;
      height: 31px;
      transition: filter 0.3s;

      &:hover {
        filter: brightness(30%);
      }
    }
  }

  &_nav-list {
    margin-top: 15px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
  }

  &_nav-item {
    margin: 0 41px;
  }

  &_nav-link {
    position: relative;
    display: block;
    padding-bottom: 2px;
    text-align: end;
    font-family: 'FuturaPT';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.7px;
    color: #595955;

    &:after {
      display: block;
      content: "";
      background: black;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: solid 2px #595955;
      transform: scaleX(0);  
      transition: transform 0.5s;
    }

    &:hover {
      &:after {
        transform: scaleX(1);      
      }
    }
  }

  &_icons {
    display: flex;
    justify-content: flex-end;
  }

  &_icon {
    padding-right: 8px;
    padding-top: 26px;
    position: relative;
    width: 34px;
    height: 35px;
    transition: filter 0.3s;

    &:hover {
      filter: contrast(120%);
    }
  }

  &_profile-icon, &_cart-icon {
    transition: filter 0.3s;
    &:hover {
      filter: brightness(30%);
    }
  }

  &_cart-counter {
    display: flex;
    position: absolute;
    background-color: #ffe200;
    color: #595955;
    line-height: 1.2;
    letter-spacing: 1.02px;
    border-radius: 100%;
    width: 21px;
    height: 21px;
    top: 45px;
    left: 19px;
    font-family: 'FuturaPT';
    text-align: center;
    align-items: center;

    span {
      display: block;
      margin: 0 auto;
      font-size: 12px;
    }
  }

  &_logo-main {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0;
    margin-bottom: 39px;

    img {
      width: 196px;
      height: 90px; 
    }

    &_small {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      img {
        width: 35px;
        height: 37px;
      }
    }
  }
}

.menu {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  background-color: #fdfaf3;
  padding: 0;

  font-family: "FuturaPT";
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1.7px;
  text-align: left;
  color: #595955;

  &_wrapper {
    position: relative;
  }

  &-logo {
    width: 35px;
    height: 37px;
    padding: 0;
    margin-bottom: 41px;
  }

  &_title {
    display: block;
    margin-bottom: 37px;
  }

  &-lists {
    &_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }

  &-list {

    &_item {
      margin-bottom: 17px;
      display: block;
      position: relative;
      width: fit-content;
      height: fit-content;
      
      &-link {
        color: #595955;
        display: block;
        width: max-content;

        &:after {
          display: block;
          content: "";
          background: black;
          border-bottom: solid 1px #595955;
          height: 1px;
          transform: scaleX(0);  
          transition: transform 0.3s;
        }
    
        &:hover {
          &:after {
            transform: scaleX(1); 
          }
        }
      }
    }
  }

  &-sublist{

    &_item {
      margin: 12px 0;
      position: relative;
      display: block;
      width: fit-content;
      transition: height 0.5s;

      &-link {
        color: #595955;
        display: block;
        width: fit-content;

        &:after {
          display: block;
          content: "";
          background: black;
          position: absolute;
          left: 0;
          width: 100%;
          border-bottom: solid 2px #595955;
          transform: scaleX(0);  
          transition: transform 0.3s;
        }
    
        &:hover {
          &:after {
            transform: scaleX(1);      
          }
        }
      }
    }
  }

  &_sublist {
    box-sizing: border-box;
    padding-left: 54px;
    font-family: "FuturaPT";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.7px;
    text-align: left;
    color: #595955;
    transition: max-height 0.5s;
    overflow: hidden;

    &-active {
      //height: fit-content;
      //transform: scaleY(0);
      //height: calc(100% - 1px);
      max-height: 500px;

    }
  
    &-hidden {
      //height: ;
      //transform: scaleY(1);
      max-height: 0px;
      //display: none;
      box-sizing:content-box;
    }
  }

  &_img {
    padding: 0;
    margin-top: 60px;
    border-radius: 100%;
    width: 280px;
    height: 280px;
  }
}

.sublist {
  &_open {
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-right: 2px solid;
      border-top: 2px solid;
      transform: rotate(135deg);
      left: 75px;
      top: 9px;
      transition: transform 0.2s ease-in-out ;
    }
  }

  &_close {
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-right: 2px solid;
      border-top: 2px solid;
      transform: rotate(45deg);
      left: 75px;
      top: 9px;
      transition: transform 0.4s ease-in-out;
    }
  }
}

.menu-hidden {
  overflow: hidden;
  height: 0vh;
  opacity: 0;
  transition: height 0.4s ease-out, opacity 0.6s ease-out;
}

.menu-active {
  overflow: auto;
  height: 100vh;
  opacity: 1;
  transition: height 0.4s ease-out, opacity 0.6s ease-out;

  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.menu {
  margin: 0 auto;

  &_imgs {
    margin-top: 60px;
    img {
      position: absolute;
      width: 277px;
      height: 277px;
      border-radius: 100%;
      transition: opacity 0.5s;
    }

    .visible {
      opacity: 1;
    }
    .invisible {
      opacity: 0;
    }
  }
}

.main {
  margin-bottom: 75px;
  padding: 0;
  &_image {
    display: block;
    max-width: 1140px;
    max-height: 607px;
    margin-bottom: 87px;
  }
}

.promo {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  &_item {
    display: flex;
    width: 555px;
    padding: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #fdfaf3;
    font-family: 'FuturaPT';

    &-wrapper {

      &_big {
        padding-top: 19px;
      }

      &_small {

        &_1 {
          padding-bottom: 13px;
        }

        &_2 {
          padding-top: 22px;
        }
      }
    }

  &-img {
    position: absolute;
    z-index: -1;
  }

  &-title {
    margin: 0 auto;
    margin-bottom: 28px;
    font-weight:900;
    width: 430px;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.9px;
    padding: 0 64px;
  }

  &-text {
    margin: 0 auto;
    margin-bottom: 39px;
    width: 385px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.42px; 
  }

  &-button {
      transition: background-color 0.8s;
      width: 130px;
      height: 35px;
      border-radius: 18px;
      margin: 0 auto;

      a{
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: 600;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.7px;
      text-align: center;
      color: #fdfaf3;
      border-radius: 18px;
      border: solid 1px #ffe100f8;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #ffe200;
      }
    }
  }

    &_big {
      background-image: url(../img/main/promo_big_img.png);
      height: 722px;
      grid-area: 1 / 1 / 3 / 2; 
    }

    &_small {

      &_1{
        background-image: url(../img/main/promo_img_1.png);
        grid-area: 1 / 2 / 2 / 3;
      }

      &_2 {
        background-image: url(../img/main/promo_img_2.png);
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  
  &_nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 -92px;
  }

  &_nav-item {
    margin: 0 21px;
    white-space: nowrap;
  }

  &_nav-link {
    position: relative;
    display: block;
    font-family: 'FuturaPT';
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1.7px;
    color: #595955;
    padding-bottom: 2px;

    &:after {
      display: block;
      content: "";
      background: black;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: solid 2px #595955;
      transform: scaleX(0);  
      transition: transform 0.5s;

    }

    &:hover {
      &:after {
        transform: scaleX(1);      
      }
    }
  }

  &_icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3px;

    :last-child {
      margin-right: 0px;
    }
  }

  &_icon {
    width: 31px;
    height: 31px;
    margin-right: 17px;
  }
}
//shop
.product-cards {
  margin-bottom: 40px;
}
// FIXME: дублируются стили, пофиксить это гавно 
.shop-block_small-big {  
  margin: 0;
  height: 722;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "small-card-1 big-card"
    "small-card-2 big-card";

  .big-card { 
    height: 722px;
    width: 555px;
    position: relative;
    padding: 0;
    grid-area: big-card; 
    width: fit-content;

    &_img {
      height: 722px;
      width: 555px;
    }
  }
  .small-cards {
    padding: 0;
    width: fit-content;
  }

  .small-card-1 {
    position: relative;
    padding: 0;
    grid-area: small-card-1;
    margin-bottom: 30px; 
    height: 346px;
    width: 555px;

    &_img {
      width: 555px;
      height: 346px;
    }
  }

  .small-card-2 {
    position: relative;
    padding: 0;
    grid-area: small-card-2; 
    height: 346px;

    &_img {
      width: 555px;
      height: 346px;
    }
  }
}

.shop-block_big-small {  
  margin: 0;
  height: 722;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "big-card small-card-1"
    "big-card small-card-2";

  .big-card { 
    height: 722px;
    width: 555px;
    position: relative;
    padding: 0;
    grid-area: big-card; 
    width: fit-content;

    &_img {
      height: 722px;
      width: 555px;
    }
  }
  .small-cards {
    padding: 0;
    width: fit-content;
  }

  .small-card-1 {
    position: relative;
    padding: 0;
    grid-area: small-card-1;
    margin-bottom: 30px; 
    height: 346px;
    width: 555px;

    &_img {
      height: 346px;
      width: 555px;
    }
  }

  .small-card-2 {
    position: relative;
    padding: 0;
    grid-area: small-card-2; 
    height: 346px;
    width: 555px;

    &_img {
      height: 346px;
      width: 555px;
    }
  }
}

.yelow-hover {
  background-color: #ffe200;
}

.pink-hover {
  background-color: #f8c3d9;
}

.card-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0%;

  &:hover {
    opacity: 100%;
  }

  &_title {
    margin-bottom: 28px;
    font-family: 'FuturaPT';
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
    color: #595955;
  }

  &_text {
    margin-bottom: 6px;
    font-family: 'FuturaPT';
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.42px;
    text-align: center;
    color: #595955;
  }

  &_price {
    font-family: 'FuturaPT';
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.42px;
    text-align: center;
    color: #595955;
  }
}

.journal {

  &-block {
    margin-bottom: 86px;
  }

  &_element {
    transition: border-radius 0.15s;
    &_big {
      display: flex;
      flex-direction: column;
      margin-bottom: 84px;

      img {
        width: 1139px;
        height: 554px;
        margin-bottom: 24px;
      }
    }

    &:hover {
      .journal_img {
        border-radius: 100%;
        overflow: hidden;
      }
    }
  }


  &_img {
    width: 554px;
    height: 554px;
    margin-bottom: 18px; 
  }

  &_title {
    font-family: 'FuturaPT';
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: left;
    color: #595955;
  }
}

.rounded-circle {
  img {
    border-radius: 100%;
  }
}

.studio-col {
  &_title {
    display: block;
    margin-bottom: 37px;
  
    font-family: 'FuturaPT';
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1.7px;
    text-align: left;
    color: #595955;
  }

  &_list {
    margin-bottom: 94px;
  }
  &_img {
    img {
      position: absolute;
      width: 194px;
      height: 194px;
      transition: opacity 0.2s;
    }
  }

  &_item {
    &-link {
      display: block;
      width: fit-content;
      margin-bottom: 15px;
      font-family: 'FuturaPT';
      font-size: 20px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 1.7px;
      text-align: left;
      color: #595955;

      &:after {
        display: block;
        content: "";
        background: black;
        border-bottom: solid 1px #595955;
        height: 1px;
        transform: scaleX(0);  
        transition: transform 0.3s;
      }
  
      &:hover {
        &:after {
          transform: scaleX(1); 
        }
      }
    }
  }

  
}


.visible {
  opacity: 100%;
}

.invisible {
  opacity: 0%;
}

.deliveryBG {
  min-height: 100vh;
}

.delivery-block {
  margin-bottom: 97px;
  &_img {
    margin-top: 54px;
  }

  &_description {
    margin-top: -24px;
  }
  &_title {
    font-family: FuturaPT;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 32px;
  }
    
  &_text {
    font-family: FuturaPT;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1.7px;
    color: #595955;
    line-height: 25px;
  }

  &_filled {
    padding-top: 16px;
    color: #595955;
    border-radius: 50px;
    border: solid 3px #f8c3d9;
    width: fit-content;
    height: 34px;
    margin-left: -38px;
    padding-left: 34px;
    background-color: #f8c3d9;
    &_text {
      font-family: FuturaPT;
      font-size: 20px;
      letter-spacing: 2px;
      margin-right: 36px;
    }
  }
}

.outline {
  margin-top: 26px;
  margin-bottom: 24px;
  margin-left: -34px;
  height: 50px;
  border-radius: 100px;
  border: solid 3px #f8c3d9;
  width:fit-content;

  &_text {
    text-transform: uppercase;
    text-align: left;
    padding-top: 13px;
    padding-left: 32px;
    margin-right: 32px;
    font-family: FuturaPT;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.8px;
    white-space: nowrap;

  }
}


.questions-form{
  padding: 0;
  height: 418px;
  background-image: url('../img/pages/contacts/questions-BG.png');
  margin-left: 12px;
  background-repeat: no-repeat;

  &_wrapper {
    display: flex;
    margin-top: 38px;
    margin-left: 68px;
  }

  &_info {
    margin-right: 165px;
  }

  &_input-block {
    margin-bottom: 26px;
  }

  &_label {
    font-family: FuturaPT;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-left: 28px;
    margin-bottom: 8px;
  }

  &_input {
    width: 390px;
    height: 58px;
    padding-left: 28px;
    border: none;
    font-family: FuturaPT;
    font-size: 14px;
    color: #595955;

    &_big {
      width: 418px;
      height: 295px;
      padding-top: 22px;
      padding-left: 28px;
      border: none;
      font-family: FuturaPT;
      font-size: 14px;
      box-sizing: border-box;
      resize: none;
      color: #595955;
      
    }
  }
}

.body {
  position: relative;
}

.hidden {
  display: none;
}

.contacts {
  position: relative;
  &_overlay {
    position: absolute;
    padding: 0;
    background-color:  black;
    opacity: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  &_map {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}

.contacts-info {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 82px;
  padding: 0;
  flex-wrap: nowrap;

  &_description {
    padding: 0;
    margin-left: 12px;
    padding-left: 12px;
  }
  &_title {
    font-family: FuturaPT;
    font-size: 20px;
    color: #595955;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 34px;
  }
  
  &_text {
    font-family: FuturaPT;
    font-size: 20px;
    margin-bottom: 88px;
  }

  &_map-img {
    padding: 0;
    margin-top: 32px;
    width: 480px;
    height: 480px;
    border-radius: 100%;
    overflow: hidden;
    background-image: url(../img/pages/contacts/map.png);
  }
}

.empty-block {
  text-align: center;

  &_title, &_shop-link {
    font-family: FuturaPT;
    font-size: 20px;
    color: #595955;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }

  &_shop-link {
    margin: 36px auto 0 auto;
    width: 309px;
    height: 40px;
    padding-top: 18px;
    border-radius: 50px;
    font-weight: 600;
    background-color: #ffe200;
    letter-spacing: 1px;
  }
}

.recomendation {
  margin-top: 128px;
  letter-spacing: 0.9px;
  margin-bottom: 204px;

  &_title {
    font-family: FuturaPT;
    font-size: 30px;
    font-weight: 900;
    padding-left: 4px;
  }

  &_items {
    display: flex;
    margin-top: 64px;
    padding: 0;
    margin-left: 0;
    width: 1200px;
  }
  &_item {
    width: 240px;
    margin-right: 50px;
    padding: 0;
    &-title {
      margin-top: 40px;
      font-family: FuturaPT;
      font-size: 20px;
      font-weight: 900;
      line-height: 20px;
    }

    &-country {
      margin-top: 34px;
      font-family: FuturaPT;
      font-size: 14px;
    }
    &-price {
      margin-top: 4px;
      font-family: FuturaPT;
      font-size: 14px;
      font-weight: 900;
    }
  }
}

.cart {
  &_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-family: FuturaPT;
    font-size: 20px;
    margin-bottom: 34px;
  }

  &_item {
    display: flex;
    margin-right: 10px;
    margin-bottom: 54px;
    &:last-of-type(-n+1) {
      margin-bottom: 4px;

    }
    &-img {
      margin-right: 20px;
      width: 155px;
      height: 155px;
    }
    &-description {
      &_title {
        font-family: FuturaPT;
        width: 800px;
        font-size: 30px;
        font-weight: 900;
        line-height: 23px;
        letter-spacing: 1px;
      }

      &_country, &_size {
        font-family: FuturaPT;
        font-size: 14px;
        color: #595955;
        letter-spacing: 0.42px;
      }

      &_country {
        margin-top: 30px;
      }

      &_count {
        display: flex;
        margin-top: 28px;
      }

      &_decrease, &_increase {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: solid 1px #ffe100;
        border-radius: 100%;
        font-family: FuturaPT;
        font-size: 20px;
        transition: background-color 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #ffe100;
        }
      }

      &_count-value {
        display: flex;
        width: 44px;
        font-family: FuturaPT;
        font-size: 20px;
        justify-content: center;
        align-items: center;
      }    
    }

    &-price {
      margin-top: 128px;
      margin-left: 60px;
      font-family: FuturaPT;
      font-size: 30px;
      font-weight: 900;
      white-space: nowrap;
    }
  }

  &_line {
    background-color: #ffe100;
    height: 3px;
    width: 1140px;
  }

  &_item {
    &:last-of-type(-n+1) {
      margin-bottom: 4px;

    }
    &:last-child {
      margin-bottom: 30px;

    }
  }

  &_offer {
    display: flex;
    margin-top: 36px;
  }

  &_checkout {
    display: flex;
    font-family: FuturaPT;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 418px;
    height: 57px;
    background-color: #ffe100;
    border-radius: 100px;
    align-items: center;
    justify-content: center;

    &_small {
      display: flex;
      font-family: FuturaPT;  
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 308px;
      height: 57px;
      background-color: #ffe100;
      border-radius: 100px;
      align-items: center;
      justify-content: center;
    }
  }

  &_promo-price {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  &_promocode {
    margin-top: 36px;
    width: 166px;
    height: 58px;
    padding-left: 55px;
    background-color: #f8c3d9;
    font-family: FuturaPT;
    font-size: 14px;
    border: none;
  }

  &_total-price {
    margin-top: 30px;
    font-family: FuturaPT;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.9px;
  }
}

.order, .sing-in {
  &_form {
    display: flex;

    &-block {
      margin-right: 72px;
    }
  }

  &_title {
    text-align: center;
    font-family: FuturaPT;
    font-size: 20px;
    letter-spacing: 1.7px;
    color: #595955;
  }

  &_label {
    margin-top: 32px;
    margin-left: 30px;
    font-family: FuturaPT;
    font-size: 20px;
    letter-spacing: 0.6px;

  }
  &_input {
    margin-top: 18px;
    width: 505px;
    height: 63px;
    border: solid 1px #ffe100;
    font-family: FuturaPT;
    font-size: 20px;
    font-weight: 300;
    padding-left: 33px;
    background-color: #fdfaf3;
  }

  &_select {
    margin-bottom: 10px;
  }

  &_button {
    margin-top: 125px;
  }

  &_subscribe {
    margin-top: 22px;
    margin-left: 6px;
    font-family: FuturaPT;
    font-size: 20px;
    letter-spacing: 0.6px;
  }

  &_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }

  &_checkbox + label {
    position: relative;
    padding: 0 0 0 28px;
    cursor: pointer;
  }

  &_checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 13px;
    border: solid 1px #ffe100;

    //background: #CDD1DA;
   // box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
  }
  &_checkbox + label:after {


    //box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  &_checkbox:checked + label:before {
    background: #ffe100;
  }
  &_checkbox:checked + label:after {
    background-color: #ffe100;
  }
}

.pressa {
  &_items {
    margin-top: -8px;
    padding: 0;
    display: flex;
    flex-direction: row;

    &-title {
      width: 540px;
    }

    li {
      padding: 0;
      display: block;
      width: 540px;
      height: 385px;
      margin-right: 42px;
      margin-bottom: 308px;
    }
  }

  &_item {
    width: 540px;

    &-title {
      font-family: FuturaPT;
      font-size: 30px;
      font-weight: 900;
      color: #595955;
      letter-spacing: 0.9px;
      color: #595955;
      line-height: 1;
      margin-bottom: 32px;
    }

    &-img {
      height: 385px;
    }

    &-description {
      font-family: FuturaPT;
      font-size: 14px;
      letter-spacing: 0.42px;
      color: #595955;
      margin-bottom: 28px;
    }

    &-button {
      margin-top: 30px;
      text-transform: uppercase;
      display: flex;
      width: 99px;
      height: 37px; 
      border: solid 1px #ffe200;
      border-radius: 50px;
      transition: background-color 0.5s;
      justify-content: center;
      align-items: center;
      font-family: FuturaPT;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.7px;


      &:hover {
        background-color: #ffe200;
      }
    }
  }
}

.privacy-policy-info {
  &_title {
    text-align: center;
    text-transform: uppercase;
    font-family: FuturaPT;
    font-size: 20px;
    letter-spacing: 1.8px;
    color: #595955;
  }

  &_outline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-left: -10px;
    width: fit-content;
    padding: 0 46px;
    height: 50px;
    border-radius: 50px;
    border: solid 3px #ffe200;
    font-family: FuturaPT;
    font-size: 20px;
    letter-spacing: 1.7px;
    color: #595955;
    text-transform: uppercase;
  }

  &_text {
    margin-top: 18px;
    font-family: FuturaPT;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 1.7px;
    text-align: left;
    color: #595955;
    margin-bottom: 10px;
  }
}

.sing-up, .sing-in {
  &_title {
    text-align: center;
    text-transform: uppercase;
    font-family: "FuturaPT";
    font-size: 20px;
    margin-top: -8px;
    margin-bottom: 36px;
    letter-spacing: 1.7px;
  }
  &_form {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 0 auto;
    align-items: center;

    &-input {
      width: 505px;
      height: 57px;
      padding-left: 30px;
      margin-bottom: 18px;
      border-radius: 50px;
      font-family: "FuturaPT";
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.6px;
      border: solid 1px #ffe100;
      background-color: #fdfaf3;
      &:focus {
        outline: none;
        border: solid 1px #f8c3d9;
      }
    }

    &-submit {
      padding: 0;
      margin-top: 37px;
      margin-left: -5px;
      width: 255px;
      height: 57px;
      font-family: "FuturaPT";
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      color: #595955;
      border-radius: 50px;
      border: none;
      background-color: #ffe100;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &_sing-in-link {
    margin: 35px auto;
    text-align: center;
    font-family: "FuturaPT";
    font-size: 14px;
    letter-spacing: 1.19px;
    color: #595955;
    &:hover {
      text-decoration: underline;
    }
  }

  &_remember {
    font-family: "FuturaPT";
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #595955;
  }
}